<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.lecodi.foru.vo.Member" alias="member" />
		<typeAlias type="com.lecodi.foru.vo.Board" alias="board" />
		<typeAlias type="com.lecodi.foru.vo.Cart" alias="cart"/>
		<typeAlias type="com.lecodi.foru.vo.Product" alias="Product"/>
		<typeAlias type="com.lecodi.foru.vo.MachineLearningData" alias="MachineLearningData"/>
		<typeAlias type="com.lecodi.foru.vo.Image" alias="image" />
		<typeAlias type="com.lecodi.foru.vo.CodiTable" alias="codiTable" />
		<typeAlias type="com.lecodi.foru.vo.Reply" alias="reply"/>
		<typeAlias type="com.lecodi.foru.vo.Tbl_order" alias="order" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/memberMapper.xml" />
		<mapper resource="mapper/boardMapper.xml" />
		<mapper resource="mapper/cartMapper.xml"/>
		<mapper resource="mapper/productMapper.xml"/>
		<mapper resource="mapper/imageMapper.xml" />
		<mapper resource="mapper/codiTableMapper.xml" />
		<mapper resource="mapper/orderMapper.xml"/>
	</mappers>
</configuration>
